---
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";
import "@fontsource-variable/rubik";

interface Props {
    title: string;
    description?: string;
    ogImage?: string;
    showFooter?: boolean;
    showNavbar?: boolean;
}

const { title, description, ogImage, showFooter = true, showNavbar = true } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
    <head>
        <!-- start analytics -->
        <script defer data-domain="wendilunar.com" src="https://analytics.kyle.so/js/script.js"></script>
        <!-- end analytics -->

        <!-- start meta -->
        <meta charset="UTF-8" />
        <meta name="description" content={description ? description : "WendiLunar Merch"} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="robots" content="index, follow" />
        <meta
            name="keywords"
            content="
            wendilunar,
            wendi,
            lunar,
            wendy lunar,
            merch,
            merchandise,
            shirt,
            socks,
            hoodie,
            flag,
            website,
            twitch,
            content,
            creator,
            dickey,
            youtube,
            youtuber,
            streamer,
            tiktok"
        />
        <!-- end meta -->

        <!-- start open graph -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description || "WendiLunar merch coming soon"} />
        <meta property="og:image" content={ogImage || "/og-image.png"} />
        <meta property="og:url" content={Astro.url} />
        <!-- end open graph -->

        <!-- start twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@LoonieBoBoonie" />
        <meta name="twitter:creator" content="@LoonieBoBoonie" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description || "WendiLunar merch coming soon"} />
        <meta name="twitter:image" content={ogImage || "/og-image.png"} />
        <!-- end twitter -->

        <title>{title}</title>
    </head><body class="m-0 flex min-h-screen flex-col p-0">
        {showNavbar && <Navbar />}
        <main class="flex-grow">
            <slot />
        </main>
        {showFooter && <Footer />}
    </body>
</html>
